//公共变量
$color-background: #F0EFF5; //背景颜色  - 苹果默认背景色
$base-viewport:375px; //默认iphone6分辨率设计稿
$color-loadingBg:rgba(222, 225, 226, 1); //loading页背景颜色
$color-lightBlue: #00CCFF; //浅蓝色
$color-orange: #FF6600; //橙色
$color-gray: #CCCCCC; //灰色
$color-green: #00CC99; //绿色
$color-f90:#ff9900; //浅橙色
$color-white:#fff; //白色
$border-1-gray: 1px solid $color-gray; //灰色线条
$border-1-ea: 1px solid #eaeaea; //浅灰色线条
$base-font:#B3B3B3; //灰色底字